@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

:root {
    --background-color: #323232;
    --header-font: "Gloria Hallelujah", cursive;
    --header-font-size: 2.5rem;
    --main-text-color: #EBEBEB;

    --form-input-background-color: #474747;
    --form-border-color: #636363;
}