@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --background-color: #323232;
    --header-font: "Gloria Hallelujah", cursive;
    --header-font-size: 2.5rem;
    --main-text-color: #EBEBEB;

    --form-input-background-color: #474747;
    --form-border-color: #636363;
    --form-font: "Poppins", sans-serif;
    --form-border-radius: 1.1rem;
    --form-accent-color: #6B6B6B;

    --result-box-background-color: #373737;

    --error-color: #A14C4C;
}